/* .input__input {
  padding-right: 10px;
  font-size: 1.13em;
  text-align: right;
}
.Customers__input {
  padding-right: 10px;
  font-size: 1.5em;
  text-align: right;
} */

.list-buttons input {
  height: 30px !important;
}
.list-buttons input[type="submit"] {
  height: 36px !important;
}
.list-buttons button {
  height: 36px !important;
}
